{% extends 'base.html' %} {%block title%}Каталог{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content%}
{%for product in products%}
<div style="background-color:bisque; display: flex; justify-content: center; align-items: center; min-height: 100px; flex-direction: column;">
    <h1  class="workhome"style="margin-top:100px"><a  style="text-decoration: none" href="/products/{{product.id}}">{{product.title}}</a></h1>
    <p style="margin-top:50px; width: 1000px;">{{product.description}}</p>
    <p style="margin-top:30px">Зарплата:{{product.price}} P</p>
    <p style="margin-top:20px">{{product.article}}</p>
    <img width="400px" src="/media/{{product.image}}" alt="{{product.title}}">
    <form action="/basket/add/{{product.id}}" method="POST">
        {%csrf_token%}
        <button  style="margin-top:50px; height: 50px; margin-bottom: 50px;" class="little-button-cart subtitle">
            Добавить в избранное
        </button>
    </form>
</div>
{%endfor%}
{% endblock %}